@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;500;600&display=swap');

:root {
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Montserrat', sans-serif;
  --color-primary: #090909;
  /* True Black from design */
  --color-accent: #CCAD64;
  /* Gold from design */
  --color-background: #FFFFFF;
  --color-text-light: #f0f0f0;
  --color-text-dark: #333333;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--color-text-dark);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}